<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUARDERIA</title>
    <link rel="icon" type="image/x-icon" href="/img/marcaagua.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/bdd46e2991.js" crossorigin="anonymous"></script>

</head>
<body>
</head>
<body>
      <!-- HEADER -->
    <header class="header"> 

      <a href="/view/index.html"> <img   src="/img/Logo Caninos y Felinos.png" alt=""></a>
  
      <nav class="header1">
          <a href="/view/index.html"> INICIO </a>
          <a href="/view/servicios.html"> SERVICIOS </a>
          <a href="/view/productos.html"> PRODUCTOS </a>
          <a href="/view/guarderia.html"> GUARDERIA </a>
          <a href="/view/promociones.html"> PROMOCIONES </a>
      </nav>
    </header>

    <div class="parrafo">
         <h1>VENTAJAS DE CUIDAR A TU MASCOTA</h1>

        <p>¿Sabías que la hormona Oxitocina, que se secreta cuando el 
            cuerpo experimenta placer, también se 
            secreta cuando una mascota y su dueño experimentan interacciones
             positivas entre si?</p>

        <p>Entre más fuerte sea el vínculo entre la persona
             y su mascota, mayor es la posibilidad de que la persona secrete 
             esta hormona, creando estados de felicidad y también de salud.</p>

        <p>Se encuentra comprobado que al tener una estrecha relación con 
          tu mascota e interactuar con esta regularmente, aparecen una serie de beneficios en tu vida. Por ejemplo, acariciar a una mascota por aproximadamente 10 minutos o más puede aliviar rápidamente el estrés cotidiano y bajar tu presión arterial. La compañía de tu 
         mascota también puede mejorar tu salud mental al evitar depresiones.</p>

          <p>Tus hijos también se verán beneficiados ya que varios estudios señalan que los niños que han crecido con mascotas son más saludables, aquellos que han vivido con perros o gatos en su primer año de vida, presentan menores problemas de infecciones en sus oídos, problemas respiratorios, y alergias que los niños que no tienen mascotas.</p>

          <p>Estudios demuestran que las personas que cuidan de sus mascotas también podrían ser más saludables, a razón que al sacarlos a caminar o correr y también jugar activamente con ellos se hace ejercicio teniendo un impacto positivo en su cuerpo y mente. En particular se han demostrado beneficios de salud al disminuir la tasa de problemas cardiovasculares.</p>
          <br>
          <br>
          <br>
          <h4>BENEFICIOS DE UNA GUARDERIA CANINA</h4>
          <p>Una guardería canina se convierte en el mejor remedio para evitar que el perro sufra la soledad y el estrés en casa al estar tantas horas encerrado, o el mejor remedio para cuando sus adoptantes tienen que salir de viaje o tienen alguna urgencia y no saben dónde pueden dejar al perro.</p>

          <P>Siempre bajo la supervisión de los cuidadores y teniendo en cuenta las necesidades de cada perro. No se van a poner a jugar con un frisbee con un perro de 12 años, por ejemplo. Pero hay infinidad de juegos que se pueden hacer, más allá de la pelota.

            Cuando se habla de actividad física, también debemos referirnos a la actividad mental. El olfateo es algo muy importante para los perros, les distrae, ejercitan su mente y a la vez les relaja encontrar cada premio escondido.
            
            Todo esto influye en el equilibrio del animal. Cuando éste se queda solo en casa, y nosotros regresamos, está lleno de energía y sale a la calle como un toro. Sin embargo, cuando recojamos a nuestro amigo solo querrá darnos besos, comer y dormir.</P>
            <br>
            <br>
            <br>
            <h4>Establecer una rutina</h4>

            <p>Al igual que los niños cuando van a la guardería para habituarlos al horario escolar, las tareas, la socialización, etc. Los perros también lo necesitan y eso lo consiguen gracias a la guardería canina.</p>

            <p>Si estamos llevando a nuestro peludo a una buena guardería, tendrán un horario de comidas, respetarán sus necesidades, sus medicinas, problemas físicos, y demás. Tendrán horario de juegos en interior y en exterior, tiempo del baño, tiempo para descansar, tiempo de relajación para socializar e interactuar entre ellos.</p>

            <p>Nuestro can, al tener unos límites y unos horarios y ver que todos sus amiguitos son tratados por igual, él ganará confianza en sí mismo y se sentirá pleno y realizado, reforzando los valores positivos y estará contento de vernos y agradecido con cada día que lo llevemos a la guardería canina.</p>


    </div>      


<footer>
  <p>Contáctenos</p>
  <p>Linea Gratuita 018000-00001</p>
  <p>correo: preguntas@caninosyfelinos.com</p>
  <p>Pagina echa por Cristian Camilo Muñoz Carvajalino de la ficha 2348214</p>
</footer>

  </body>
</html>