<!-- PAGINA CREADA POR CRISTIAN CAMILO MUÑOZ DE LA FICHA 2348214 ADSI -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CANINOS Y FELINOS WEB</title>
    <link rel="icon" type="image/x-icon" href="/img/marcaagua.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/bdd46e2991.js" crossorigin="anonymous"></script>

</head>
<body>
<!-- HEADER -->
<header class="header">

    <a href="/view/index.html"> <img   src="/img/Logo Caninos y Felinos.png" alt=""></a>
    
    <nav class="header1">
      <a href="/view/index.html"> INICIO </a>
        <a href="/view/servicios.html"> SERVICIOS </a>
        <a href="/view/productos.html"> PRODUCTOS </a>
        <a href="/view/guarderia.html"> GUARDERIA </a>
        <a href="/view/promociones.html"> PROMOCIONES </a>
    </nav>
</header>

    <nav class="slider">
        <ul>
            <li> <img src="/img/IMG1.jpg" alt=""> </li>
            <li> <img src="/img/IMG2.jpg" alt=""> </li>
            <li> <img src="/img/IMG3.jpg" alt=""> </li>
            <li> <img src="/img/IMG4.jpg" alt=""> </li>
        </ul>
    </nav>

    <!-- NUESTROS SERVICIOS -->

        <div class="contenedor">

            <div class="caja-columna">

                
                <div >
                  <h1> servicios</h1>
                </div>
                     
                        <div class="caja">
                          <i class="fa-solid fa-kit-medical"></i>
                           <h3>Urgencias 24x7 </h3>
                            <p>Trauma, Intoxicación, Cuerpo extraño, Convulsiones.</p>  
                        </div>

                        <div class="caja">
                          <i class="fa-solid fa-heart"></i>
                          <h3>Medicina Preventiva</h3>
                          <p>Planes de vacunación, nutrición, odontología, seguimiento 
                            y vigilancia para mantener saludable a tu mascota.</p>
                        </div>
                                        
                        <div class="caja">
                          <i class="fa-solid fa-circle-h"></i>
                          <h3>Hospital y Cuidados Intensivos</h3>
                          <p>Atención y cuidado de los pacientes 24/7. Infecto-contagiosos, 
                            post-quirúrgicos, UCI, Ventilación Mecánica. Hospital Felino, 
                            Monitoreo hemodinámico y Análisis de gases.</p>
                        </div>
                                    
                        <div class="caja">
                          <i class="fa-solid fa-truck-medical"></i>
                          <h3>Cirugía</h3>
                          <p>Ortopedia, Tejidos blandos, Neurocirugía,
                             Cirugía de Tórax, Cirugía Oncológica y Cirugía Laparoscópica.</p>
                        </div>
                                          
                          <div class="caja">
                            <i class="fa-solid fa-comment-medical"></i>
                            <h3>Medicina Especializada</h3>
                            <p>Neurología, Endocrinología, Nefrología, Ortopedia, Dermatología, 
                              Cardiología, Medicina Interna, Oncología, Gastroenterología, 
                              Fisioterapia, Oftalmología y Medicina del dolor.</p>
                          </div>
                                           
                        <div class="caja">
                          <i class="fa-solid fa-hand-holding-medical"></i>
                          <h3>Ayudas Diagnósticas</h3>
                          <p>Radiografías, Ecografías, Electrocardiogramas, Exámenes de laboratorio.</p>
                        </div>
                                      
                        <div class="caja">
                          <i class="fa-solid fa-user-doctor"></i>
                          <h3>Recover</h3>
                          <p>Veterinarios certificados en soporte vital básico y 
                            avanzado avalados por Recover Initiative.</p>
                        </div>
                                                        
                        <div class="caja">
                          <i class="fa-solid fa-house-chimney-medical"></i>
                          <h3>Farmacia y Alimentos Concentrados </h3>
                          <p>Medicamentos, Drogas de control, Control de endo y ecto parásitos, Vacunas, Concentrados, 
                            Enlatados, Vitaminas y Minerales.
                          <br/></p>
                        </div>
            </div>
        </div>
    

    <!-- SERVICIOS DE VER MAS -->

        
      <div class="container">

        <div class="card">
          <figure>
            <img src="/img/IMG1.jpg" >
          </figure>
        <div class="contenido">
            <h2>Ventajas de cuidar a tu mascota</h2>
            <p>Al cuidar de tu mascota
               puedes mejorar tu salud física y mental.</p>
            <p>¿Sabías que la hormona Oxitocina, 
              que se secreta cuando el cuerpo experimenta placer, <br>
               también se secreta cuando una mascota y su dueño 
               experimentan interacciones positivas entre si?</p> <p><a href="guarderia.html" >Ver más...</a></p>
          </div>
        </div>

        <div class="card">
            <figure>
              <img src="/img/IMG4.jpg" >
            </figure>
          <div class="contenido">
            <h2>La importancia de una buena alimentación</h2>
    
            
            <p>La alimentación de un perro es la base para poder vivir
               y dependiendo de ella,  la salud del animal variará para bien o para mal.</p>
            <p>Los perros en un principio eran carnívoros. Pertenecen 
              a la especie canis familiaris y están incluidos en el g
              rupo de los carnívoros, dónde también se encuentran los l
              obos, los osos, los gatos,y otros muchos animales.</p> <p><a href="productos.html">Ver más...</a></p>
          </div>
        </div>


            <div class="card">
              <figure>
                <img src="/img/IMG3.jpg" >
              </figure>

           

            <div class="contenido">
              <h2>cuidados de una mascota</h2>
              <p>Las mascotas, como los seres humanos, requieren un espacio limpio y cómodo en el que puedan dormir, descansar, 
                comer, jugar y pasar su tiempo. La zona en la que el peludito encuentra el agua y la comida debe mantenerse libre 
                de basuras y otras impurezas, lo mismo la que usa para dormir.</p>
              <p>Somos fanáticos de la salud integral de las mascotas y disponemos
                 de peluquería canina con el champú adecuado para cada tipo de piel,<br>
                  tratando con champús medicamentosos en los casos que lo requieran como 
                  parte de un plan integral de salud animal.</p><p><a href="servicios.html">Ver más...</a>
            </div>
          </div>  
      </div>       

      
   </div>            
   <br>
   <br>
  
    <!-- AGENDAR CITA FORMULARIO -->
        
    <section class="form_wrap">
        <section class="cantact_info">
          <section class="info_title"></section>  
       </section>


      <form action="" class="form_contact">
        <h2>Solicitar Cita Médica</h2>
        <div class="user_info">
            <label for="names">NOMBRE DE LA MASCOTA:</label>
            <input type="text" id="names">

            <label for="names">EDAD:</label>
            <input type="number" id="edad">

            <label for="names">RAZA:</label>
            <input type="text" id="names">

            <label for="fecha" >FECHA:</label>
            <input type="date" id="date">

            <label for="hora" >HORA:</label>
            <input type="time" id="time">

            <label for="names">DUEÑO DE LA MASCOTA:</label>
            <input type="text" id="names">
            
            <input type="button" value="ENVIAR" id="btnSend">
        </div>
    </form>

  </section>


<footer>
  <p>Contáctenos</p>
  <p>Linea Gratuita 018000-00001</p>
  <p>correo: preguntas@caninosyfelinos.com</p>
  <p>Pagina echa por Cristian Camilo Muñoz Carvajalino de la ficha 2348214</p>
</footer>


      

  </body>
</html>