<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROMOCIONES</title>
    <link rel="icon" type="image/x-icon" href="/img/marcaagua.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/bdd46e2991.js" crossorigin="anonymous"></script>

</head>
  <body>
        <!-- HEADER -->
      <header class="header">

        <a href="/view/index.html"> <img   src="/img/Logo Caninos y Felinos.png" alt=""></a>
    
        <nav class="header1">
            <a href="/view/index.html"> INICIO </a>
            <a href="/view/servicios.html"> SERVICIOS </a>
            <a href="/view/productos.html"> PRODUCTOS </a>
            <a href="/view/guarderia.html"> GUARDERIA </a>
            <a href="/view/promociones.html"> PROMOCIONES </a>
        </nav>
      </header>

      
      <div class="parrafo">
        <h1>VENTA DE MEDICAMENTOS PARA TUS MASCOTAS</h1>

        <img src="/img/promociones.jpg" alt="">

        <P>Queremos ayudarte en estos tiempos difíciles a seguir cuidando de tu animal de compañía. Para ello, te proponemos algunas promociones y descuentos muy interesantes. Para más información, sin compromiso,
      en nuestro centro o en el teléfono <u>(018000-00001)</u> </p>
          <br>
          <br>
          <br>
      
      <h4>Descuento para Desempleados</h4>

      <p>Para todas aquellas personas que se encuentren sin empleo, queremos ayudar teniendo una promoción en vacunas y visita ordinaria (consulta) de un 30% de descuento.</p>

      <p>Para validar este descuento necesitamos que el propietario nos presentes la cartilla de desempleo y que el animal sobre el que se aplica tenga el microchip de identificación a su nombre.</p>

      <br>
      <br>
      <h4>Oferta especial  para tus mascotas</h4>

      <p>En esta sección podrás comprar en oferta gran variedad de productos para tu mascota. Visita con frecuencia nuestro departamento de promociones y disfruta de precios especiales en alimento concentrado, juguetes, accesorios y medicamentos.</p>
      <p>Los martes por la mañana, las vacunaciones en perros tendrán un 20% descuento y si pones vacuna más microchip un 25%.Los jueves por la mañana, toca el turno a los gatos, por lo que el descuento es de 20% en vacunación felina, y 25% en vacuna más microchip.</p>

      <p>El número de mascotas registradas en el censo, alcanzó a los 13 millones hace unos meses. Entre ellos, el 93% de las cuales son perros y el 6% gatos. Cuidar de los animales de compañía es un deber para sus dueños, aunque se ve recompensado con creces con el cariño que estos animales les devuelven. Entre las necesidades que tienen estos animales, además de las médicas, están los relacionados con la alimentación, con la limpieza, los juegos o el descanso.</p>

      <p>Hace unos días te recopilamos en EL PAÍS Escaparate los mejores productos para entretener a tu mascota. Ahora, hemos reunido las mejores formas de ahorrar en el cuidado de tu mascota con los códigos que hemos encontrado en Descuentos EL PAÍS. Entre ellos encontrarás una selección de ofertas en los piensos con mejores propiedades nutricionales, la comida húmeda más adecuada para tu perro o gato y los artículos más buscados para el cuidado y el descanso de los animales domésticos.</p>
























      </div>
      <footer>
        <p>Contáctenos</p>
        <p>Linea Gratuita 018000-00001</p>
        <p>correo: preguntas@caninosyfelinos.com</p>
        <p>Pagina echa por Cristian Camilo Muñoz Carvajalino de la ficha 2348214</p>
      </footer>

    </body>
</html>