<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICIOS</title>
    <link rel="icon" type="image/x-icon" href="/img/marcaagua.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/bdd46e2991.js" crossorigin="anonymous"></script>

 </head>
  <body>
        <!-- HEADER -->
    <header class="header">

                <a href="/view/index.html"> <img   src="/img/Logo Caninos y Felinos.png" alt=""></a>
    
         <nav class="header1">
            <a href="/view/index.html"> INICIO </a>
            <a href="/view/servicios.html"> SERVICIOS </a>
            <a href="/view/productos.html"> PRODUCTOS </a>
            <a href="/view/guarderia.html"> GUARDERIA </a>
            <a href="/view/promociones.html"> PROMOCIONES </a>
         </nav>
    </header>

  
    <div class="parrafo">
        
       <h1>SERVICIOS</h1>

       <br>
       <br>
       <br>

        <h4>Consulta y Revisión</h4>
            <p>Acompañamiento preventivo de la mascota y atención y control de enfermedades.
                <br/>Es importante que al menos una vez al año tu mascota sea revisada por un 
                médico veterinario y evalúe su estado nutricional y de salud.<br/>La revisión 
                períodica de tu mascota permite tener un control constante de sus cambios, identificando 
                enfermedades o corrigiendo conductas antes de que se generen complicaciones.</p> 
    
            <hr>

            <br>
            <br>
            <br>



            <h4>Cardiología</h4>
            <span>Corazón</span>
        
            <p>El servicio de cardiología se ocupa del diagnóstico, prevención y tratamiento 
                de las patologías que afectan el corazón. Está compuesto por un equipo interdisciplinario 
                con el objetivo de brindar una atención oportuna e integral.</p>
    
            <hr>


            <br>
            <br>
            <br>



            <h4>Dermatología</h4>
            <span>Cuidado y prevención de la piel de tu mascota</span>
       
            <p>Sin alejarse de lo que ocurre en el resto del mundo con las mascotas, en Colombia el comportamiento de las lesiones dermatológicas es similar y se acerca a un 60% de los motivos de consulta en los animales de compañía.
            Es sabido también que todo daño en la condición de la piel de un paciente en cualquier grado, genera una angustia y un malestar en sus familiares, más cuando estos daños están acompañados de prurito de variable intensidad.
            </br>En Caninos y Felinos hacemos una consulta dermatológica completa, con exámenes complementarios como citología, cultivos bacteriológicos y micológicos, biopsias y raspados de piel hasta llegar a un diagnóstico definitivo que permita solucionar los problemas del paciente y la angustia de su familia.</p> 
    
            <hr>

            <br>
            <br>
            <br>


            <h4>Fisioterapia</h4>
            <span>Rehabilitación de la motricidad y fortalecimiento corporal.</span>
        
        
            <p>Realizamos el diagnóstico oportuno de disfunciones neurologicas o músculo‐esqueléticas adquiridas por traumas, degenerativas o posquirúrgicas que limitan el movimiento normal y generan dolor, disminuyendo la calidad de vida de los pacientes, además se establece el tratamiento de fisioterapia correspondiente para cada paciente de acuerdo con la lesión encontrada.</p>
             <hr>

             <br>
             <br>
             <br>   
             


            <h4>Gastroenterología</h4>
            <span>Sistema digestivo</span>
        
            <p>Es una especialidad muy importante dentro de la medicina interna y es encargada del diagnóstico y tratamiento de enfermedades y trastornos del sistema gastrointestinal.
            <hr>

            <br>
            <br>
            <br>



            <h4>Medicina Interna</h4>
           
            <p>Atención integral del paciente encargada de prevenir, diagnosticar y tratar enfermedades o afecciones en los diferentes órganos y sistemas internos. Se definen los planes para establacer el bienestar del paciente.</p>
    
            <hr>

            <br>
            <br>
            <br>



            <h4>Nefrología</h4>
            <span>Sistema urinario</span>
        
            <p>Prevención, diagnóstico y tratamiento de enfermedades en el sistema urinario de los pacientes. Tanto los gatos como los perros en cualquier momento pueden desarrollar enfermedades en riñones, vejiga o cualquier otro órgano del sistema urinario.</p>
   
            <hr>

            <br>
            <br>
            <br>


            <h4>Neurologia</h4>
            <span>Traumas y enfermedades que afectan el sistema nervioso de las mascotas</span>
        
            <p>Siempre ha existido un mito y un respeto especial hacia el sistema nervioso y como tal, las personas consideran muchas veces a los pacientes afectados del sistema nervioso como terminales o con condiciones irreversibles. Estamos en condiciones de atender los pacientes afectados de su sistema nervioso, en forma aguda o crónica, traumática o degenerativa y después de evaluar los pacientes y su condición, se puede determinar el grado de disfunción nerviosa, establecer un pronóstico y una terapia que ayude a su condición.
            </br>Como ayudas diagnósticas, realizamos mielografías, radiografías y análisis de líquido cefalorraquídeo, también operamos como intermediaria para realizar tomografías, resonancias y electroencefalogramas para diagnóstico especializado de lesiones del sistema nervioso centra </br>Realizamos cirugías en columna vertebral para descompresión medular mediante laminectomía, hemilaminectomías, slot, foraminotomía y otras técnicas aplicadas para recuperar la función nerviosa.</p>

            <hr>

            <br>
            <br>
            <br>

            <h4>Oncología</h4>
            <span>Tratamiento y manejo de pacientes con cancer</span>
        
            <p>Nuestro principal  propósito es garantizar el bienestar de los pacientes con diagnóstico de cancer. <br/>Contamos con un equipo de profesionales para brindar un diagnóstico y tratamiento oportuno buscando mejorar la calidad de vida de los pacientes y aliviar el dolor de sus familiares.</p>										
    
             <hr>
             <br>
             <br>
             <br>


            <h4>Ortopedia</h4>
            <span>Traumas y degeneraciones que afectan el sistema músculo esquelético de las mascota</span>
        
        
            <p>La segunda causa de consulta especializada en Colombia corresponde a trastornos de la estación y la marcha, teniendo en cuenta que las edades extremas son mas críticas para estas patologías, cuando los cachorros están en crecimiento y desarrollo y cuando alcanzan al edad adulta mayor por procesos de osteoartritis que son enfermedades silenciosas que afectan al paciente y se manifiestan cuando están muy avanzadas. </br>La atención en esta área, además del examen completo del sistema músculo esquelético, es complementado con radiografías, citologías, biopsias, entre otros.
            </br>Realizamos cirugías ortopédicas requeridas luego de establecer un diagnóstico correcto y oportuno.</p>
   
             <hr>
             <br>
             <br>
             <br>

            <h4>Oftalmología</h4>
            <span>Enfermedades y degeneraciones en los ojos de las mascotas.</span>
        
            <p>Es un área que al igual que en medicina humana ha venido desarrollando técnicas y pruebas que garanticen a los pacientes una calidad de la visión por más tiempo y una corrección de esta función cuando lo requiera en cualquier etapa de su vida. </br>En oftalmología se evalúa la función visual y se establece el porcentaje de visión de cada paciente. Realizamos los exámenes complementarios para determinar causas de patologías capaces de disminuir o afectar localidad de la visión. Al realizar una evaluación oftalmológica, se busca establecer los correctivos y la terapia indicada en cada uno de los diagnósticos. </p>
    
            <hr>
            <br>
            <br>
            <br>

            <h4>Cirugía · Laparoscopia</h4>
        
            <p>Contamos con quirófanos dotados con instrumental, equipos completos de anestesia inhalada y monitoreo de signos vitales para garantizar la salud de los pacientes durante los procedimientos.</br> Tenemos una amplia experiencia y conocimiento de las técnicas quirurgicas que nos permiten obtener resultados satisfactorios en las cirugías, tanto de tejidos blandos (profilácticas, estéticas o traumáticas), ortopedia, (fracturas traumaticas y correcciones de deformaciones oseas) y en neurocirugía (especialmente columna vertebral en pacientes con hernias discales y compresiones medulares).  </p>	   										
            <hr>
            <br>
            <br>
            <br>


            <h4>Hospital · Cuidados Intensivos</h4>
            <span>UCE - Observación - Post-quirurgicos - Felinos - Infecto-contagiosos </span>
            
            <p>Caninos y Felinos está en condiciones de ofrecerle los cuidados especiales a pacientes en condiciones críticas por enfermedad y/o por trauma. Contamos con profesionales capacitados en el área de medicina interna y en cuidados intensivos, capaces de evaluar y atender a los pacientes que bajo circunstancias especiales llegaron a un estado crítico donde la calidad y la urgencia en la atención son esenciales para salvar la vida del paciente.</p>										
            <hr>
            <br>
            <br>
            <br>


            <h4>Manejo integral del dolor</h4>
            <span>Neurologia - Anestesia - Fisioterapia</span>
     
            <p>Contamos con un grupo de especialidades que unidas permiten a nuestros pacientes una recuperación post-trauma, combinando los conocimientos de neurología, anestesias y bloqueos, y un plan de fisioterapia.</p>										
            <hr>

            <br>
            <br>
            <br>

            <h4>Rayos X · Ecografía</h4>
       
            <p>Ofrecemos un servicio de radiología y ecografía como complemento al examen físico del paciente para llegar a diagnósticos más acertados, con el propósito de tomar las decisiones terapéuticas oportunas de tipo quirúrgicas o medicamentosas para el bienestar del paciente.</p>									
            <hr>
            <br>
            <br>
            <br>


            <h4>Endoscopia</h4>
            <span>Gastroscopia, Colonoscopia y Rectoscopia - Evaluación del sistema digestivo.</span>
        
            <p>Ofrecemos un exámen especializado a los pacientes mediante el empleo del gastroscopio, que permite evaluar en forma directa el tracto digestivo anterior y posterior, brindando la oportunidad de tomar biopsias de esófago, estómago, intestino delgado, recto  y parte del colon, además se pueden extraer por esta técnica algunos cuerpos extraños sin necesidad de cirugía. </p>          									
            <hr>
            <br>
            <br>
            <br>
    
            <h4>Laboratorio</h4>
            <span>Evaluación de parámetros hematológicos, patológicos, coprológicos, urinarios, entre otros.</span>
        
            <p>El laboratorio clínico se ha convertido en el complemento fundamental del diagnóstico en la medicina veterinaria, son muchas las pruebas que se pueden ofrecer a un paciente para lograr una evaluación completa y tener un diagnóstico más acertado para proceder oportunamente y no arriesgar la vida del paciente. Ofrecemos diferentes pruebas en sangre, en suero, en orina, en materia fecal y todo tipo de biopsias de órganos.</p>									
   
            <hr>
            <br>
            <br>
            <br>
    </div>

    <footer>
            <p>Contáctenos</p>
            <p>Linea Gratuita 018000-00001</p>
            <p>correo: preguntas@caninosyfelinos.com</p>
            <p>Pagina echa por Cristian Camilo Muñoz Carvajalino de la ficha 2348214</p>
    </footer>



 </body>
</html>